
body {
    margin: 0px;
    padding: 0px;
}

.navSection {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background: darkgreen;
}

.homeLink {
    border: 1px solid black;
    padding: 10px;
    background: orange;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 2px 5px 1px;
    transition: .03s;
    
    &:hover {
        background: lightgreen;
    }
}
